//colorsets
$frameColor: red;
$semitransparent: rgba(255,255,255,0.80) !important;

*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none !important;
}

body, html, #main {
  height: 100%;
  margin: 0;
  background-color: #F0F0F0;
  overflow: hidden;
}

h1 {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input[type=text]::-ms-clear {
  display: none;
}
input[type=text]::-ms-reveal {
  display: none;
}

//LOGIN SCREEN
.mainContainer {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

//MAIN CONTAINER main.js
.mainAppContainer {
  height: inherit;
}

//CONTENT content.js
.content {
  padding: 20px;
  height: calc(100% - 128px);
  @media only screen and (max-width: 800px) {
    overflow-y: auto;
  }
  h1 {
    font-size: 30px;
    margin: 0 0 20px;
  }
  .tableComponentWrapper {
    height: calc(100% - 60px);
  }
}

//TABLE COMPONENT
.tableComponent {
  position: relative;
  overflow: auto;
  padding: 20px;
  //border: 1px solid cyan;
  height: 100%;

  .tablePlaceholder{
    position: relative;
    //border: 1px solid orange;
    overflow-y: hidden;
    .tableLoader{
      background-color: rgba(255,255,255,0.85);
      position: absolute;
      z-index: 10;
      width: 100%;
      min-height: 100%;
      text-align: center;
      height: inherit;
      padding-top: 40px;
    }
    .visibleLoader {
      display: block;
    }
    .hiddenLoader {
      display: none;
    }
  }
}

//TABLE COMPONENT PAGINATION
.tableComponentPagination {
  display: block;
  height: 60px;
  margin-top: 24px;
  vertical-align: middle;
  //border: 1px solid red;
  .selectResultsPerPage {
    display: inline-block;
    width: 130px !important;
    vertical-align: top;
    bottom: 18px;
  }
  .showingPerPage {
    display: inline-block;
    padding-top: 15px;
    margin-left: 20px;
  }
  .qtyResults {
    display: inline-block;
    height: 54px;
    font-size: 14px;
    @media only screen and (max-width: 700px) {
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  .tablePagination {
    display:inline-block;
    float: right;
    @media only screen and (max-width: 700px) {
      width: 100%;
      display: block;
      text-align: center;
      float: none;
      margin-top: 20px;
    }
  }

  // COMPONENT PAGINATION
  ul.componentPagination {
    margin: 0px !important;
    -webkit-padding-start: 0px !important;
    list-style: none;
    padding: 0px !important;
    li {
      border-radius: 50%;
      color: rgba(33,33,33 ,1);
      display: inline-block;
      margin: 0 3px;
      transition: .15s ease-in;
      cursor: pointer;
      &:hover {
        background: rgba(0,188,212,.12);
      }
    }
    .paginationNumber,
    .paginationArrow i {
      vertical-align: middle;
    }
    .paginationNumber {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      text-align: center;
      line-height: 24px;
      min-width: 40px;
      padding: 8px 0;
      vertical-align: super !important;
      &.currentNumber {
        background: #00bcd4;
        color: #fff;
      }
    }
    .paginationArrow i {
      font-size: 24px;
      padding: 8px;
    }
  }
}

// MAIN TABLE COMPONENT
.table {
  border: 1px solid lightgrey;
  min-height: 306px !important;

  a {
    color: #00bcd4 !important;
    &:hover {
      color: #0b8bd4;
    }
  }
  thead {
    border-bottom: 1px solid #fff;
  }
  th {
    padding-left:4px !important;
    overflow: hidden;
    a {
      color: #707070 !important;
    }
  }

  .highlighted {
    color: #ffffff !important;
    background-color: #00BCD4 !important;
  }

  tr th {
    .sortIcon {
      width: 20px !important;
      height: 16px !important;
      vertical-align: middle !important;
      display: inline-block !important;
      color: #d3d3d3 !important;
      position: relative;
      margin-top: -4px;
    }
    .sortIconActive {
      color: #494949 !important;
    }
    .caption {
      position: relative;
      white-space:nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
    }
    &:first-child {
      width: 70px !important;
      padding-right: 10px !important;
    }
  }
  tr td {
    &:first-child{
      width: 70px !important;
    }
  }

  .tableBody{
    margin-right: 30px;
    height: auto !important;
  }
  //FIRST TABLE CONTAINER
  > div {
    //border: 1px solid red;
    overflow: visible;
    > :nth-child(2) {
      //overflow-y: scroll !important;
      height: 240px !important;
    }
  }
  .noMatchesInfo {
    text-align: center !important;
    padding: 30px 0 !important;
    font-size: 16px !important;
  }
}

//SNACKBAR
.snackbarRoot {
  > div {
    height: auto !important;
    > div {
      > span {
        white-space: pre !important;
      }
    }
  }
}


